.hero .container {
  margin-bottom: 40px;
}

.hero__wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  border-radius: 30px;
  padding-block: 390px 20px;
  padding-inline: 20px;
  background-color: var(--element-disabled);
  background-image:
    url('../images/gradiemt.png'), url('../images/hero-bg_mob@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.hero__main-title {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--surface-main);
}

.hero__controls {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.hero__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 14px;
}

.hero-controls_button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 14px;
  border: 1px solid var(--surface-main);
  border-radius: 100px;
  padding-block: 12px;
  padding-inline: 27px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: var(--surface-main);
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.mobile-accent {
  border: 0;
  background: var(--action-primary);
}

.mobile-accent:hover,
.mobile-accent:focus {
  background-color: var(--action-hover);
  color: var(--action-primary);
}

.mobile-light {
  background-color: transparent;
}

.mobile-light:hover,
.mobile-light:focus {
  border: 1px solid var(--action-primary);
  color: var(--action-primary);
}

.hero_scroll {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 14px;
}

.hero__scroll-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--surface-main);
  transition: color 250ms ease-in-out;
}

.hero_scroll:has(.hero__scroll-down:hover) .hero__scroll-title,
.hero_scroll:has(.hero__scroll-down:focus) .hero__scroll-title {
  color: var(--action-primary);
}

.hero__scroll-down {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 0;
  border-radius: 19px;
  width: 38px;
  height: 38px;
  background: var(--surface-main);
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.hero__scroll-down:hover,
.hero__scroll-down:focus {
  background: var(--action-primary);
}

.hero__scroll-down-icon {
  fill: var(--action-primary);
  transition: fill 250ms ease-in-out;
}

.hero__scroll-down:hover .hero__scroll-down-icon,
.hero__scroll-down:focus .hero__scroll-down-icon {
  fill: var(--surface-main);
}

@media (min-resolution: 192dpi) {
  .hero__wrapper {
    background-color: var(--element-disabled);
    background-image:
      url('../images/gradiemt.png'), url('../images/hero-bg_mob@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen AND (min-width: 768px) {
  .hero__wrapper {
    padding-block: 600px 40px;
    padding-inline: 40px;

    background-color: var(--element-disabled);
    background-image:
      url('../images/gradiemt.png'), url('../images/hero-bg_tab@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero__main-title {
    font-size: 28px;
    max-width: 484px;
  }

  .hero__controls {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .hero__wrapper {
    background-color: var(--element-disabled);
    background-image:
      url('../images/gradiemt.png'), url('../images/hero-bg_tab@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen AND (min-width: 1200px) {
  .hero__wrapper {
    padding-block: 380px 40px;
    background-color: var(--element-disabled);
    background-image:
      url('../images/gradiemt.png'), url('../images/hero-bg_desktop@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero__main-title {
    font-size: 28px;
    max-width: 484px;
  }

  .hero__controls {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-resolution: 192dpi) and (min-width: 1200px) {
  .hero__wrapper {
    background-color: var(--element-disabled);
    background-image:
      url('../images/gradiemt.png'), url('../images/hero-bg_desktop@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
