.products .container {
  gap: 32px;
  padding: 40px 16px;
}

.product__title {
  min-width: 284px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-base);
}

.product__title-accent {
  color: var(--action-primary);
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 18px;
}

.product__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--surface-overlay-light);
  border-radius: 16px;
  padding-block: 32px;
  padding-inline: 20px;
  background: var(--surface-main);
  width: 100%;
}

.product__item-image {
  max-width: 230px;
  max-height: 200px;
}

.product__item-meta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 18px;
}

.product__meta-description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2px;
}

.product__description-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-base);
}

.product__description-type {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--text-muted);
}

.product__meta-price-label {
  border: 1px solid var(--surface-overlay-light);
  border-radius: 100px;
  padding: 8px;
  width: 96px;
  height: 34px;
  min-width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  background: var(--surface-secondary);
}
